html {
    font-family: sans-serif;
}

#app {
    display: flex;
}

.container {
    border: 1px solid rgb(4, 247, 85);
}

.bar {
    fill: rgb(4, 247, 85);
}

.label {
    fill: rgb(15, 15, 15);
}

#chart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    display: flex;
    width: 600px;
}

#chart,
#data {
    margin: 0 2rem;
}

#data ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
}

#data li {
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    display: flex;
}

.axis {
    fill: rgb(4, 247, 85);
}

#pie {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    width: 600px;
}
