html {
    font-family: 'Abel';
}

body {
    background-color: rgb(115, 109, 124);
}

.tabContainer {
    width: 100%;
    height: 100%;
}

.tabContainer .buttonContainer{
    height: 15%;
    padding-bottom: 43px;
}

.tabContainer .buttonContainer button{
    width: 25%;
    height:100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'Abel';;
    font-size: 18px;
    background-color: #eee;
}

.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}

.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 75px;
    box-sizing: border-box;
    font-family: 'Abel';
    font-size: 22px;
    display: none;
}

.all {
    text-align: center;
}

.line {
  fill: none;
  stroke: rgb(10, 10, 10);
  stroke-width: 1.5px;
}

#plots {
    display: flex;
    justify-content: center;
}

#linegraph {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#lngraphcontainer {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
}

#barchartcontainer {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 25px;
    justify-content: center;
}

p {
   margin-top: 0px;
   margin-bottom: 16px;
   font-family: 'Abel';
   font-size: 30px;
   font-weight: bold;
   color:seashell;
}

#tsu {
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
   font-family: 'Abel';
   font-size: 52px;
   font-weight: bold;
   color:seashell;
}

.container {
    border: 1px solid rgb(4, 247, 85);
}

.bar {
    fill: rgb(4, 247, 85);
}

.label {
    fill: rgb(15, 15, 15);
}

#barchart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#piechart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#piechartcontainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#chartcontainer {
    display: flex;
}

#chart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
    display: flex;
    width: 600px;
}

#chart2 {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
    display: flex;
    width: 600px;
}

.axis {
    fill: rgb(4, 247, 85);
}

#pie {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
}

circle {
    cursor: pointer;
    fill: rgb(247, 2, 2);
    opacity: .5;
}

#scpcontainer {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#scp {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;

}
