html {
    font-family: sans-serif;
}

body {
    background-color: rgb(115, 109, 124);
}

#all {
    text-align: center;
}

.line {
  fill: none;
  stroke: rgb(241, 3, 3);
  stroke-width: 5px;
}

#plots {
    display: flex;
    position: absolute;
    left: 90px;
}

#linegraph {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#lngraphcontainer {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
}

#app {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
    top: 770px;
    left: 105px;
}

p {
   font-family: 'Abel';
   font-size: 22px;
   font-weight: bold;
   color:seashell;
}

h1 {
   text-align: center;
   font-family: 'Abel';
   font-weight: bold;
   color:seashell;
}

.container {
    border: 1px solid rgb(4, 247, 85);
}

.bar {
    fill: rgb(4, 247, 85);
}

.label {
    fill: rgb(15, 15, 15);
}

#barchart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#piechart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    position: absolute;
    top: 1340px;
    left: 425px;
}

#chartcontainer {
    display: flex;
}

#chart {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
    display: flex;
    width: 600px;
}

#chart2 {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
    display: flex;
    width: 600px;
}

.axis {
    fill: rgb(4, 247, 85);
}

#pie {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;
}

circle {
    cursor: pointer;
    fill: rgb(15, 15, 15);
}

#scpcontainer {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
}

#scp {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: seashell;
    padding: 1rem;

}
